/*
COLORS:
$color-primary: rgba(221, 160, 252, 0.8);
$color-primary-dark: rgba(13, 14, 13, 0.8);
*/
/* Nulifies all default settings */


$color-grey-light-1: #f7f7f7;
//Grid
$grid-width: 1140px;
$gutter-vertical: 80px;
$gutter-horizontal: 60px;
