.header {
  height: 95vh; /* this means that at every point, the hight of this element is to be 95% of the viewport height */
  background-image: linear-gradient(
      to right bottom,
      /* rgba(126, 213, 111, 0.8), */ rgba(221, 160, 252, 0.8),
      rgba(13, 14, 13, 0.8)
    ),
    url(../img/zendaya-lancome.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /*THIS IS WHAT CREATES A SHAPE OF THE ELEMENT/DIV */
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.header__logo {
  height: 35px;
}

.header__text-box {
  position: absolute;
  top: 40%; /* MOVES THE DIV 40% LOWER FROM THE TOP */
  left: 50%; /* MOVES THE DIV 50% FROM THE LEFT */
  transform: translate(
    -50%,
    -50%
  ); /* THIS PLACES THE BLOCK TO THE VERY CENTER OF MAIN BLOCK */
  text-align: center; /* this is to place the hero button to the center */
}
