.composition {
  position: relative;
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}

// .composition:hover {

// }

.composition-photo {
  width: 55%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 20px;
}
.composition-photo-p1 {
  left: 0;
  top: -20px;
}

.composition-photo-p2 {
  right: 0;
  top: 20px;
}

.composition-photo-p3 {
  left: 20%;
  top: 100px;
}

.composition-photo:hover {
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 20;
  outline: 15px solid rgb(122, 63, 122);
}
