.story {
  width: 55%;
  margin: 0 auto;
  box-shadow: 0 13px 16px #c5c3c3;
  background-color: rgba(#fff, .6);
  border-radius: 3px;
  padding: 40px;
  padding-left: 60px;
  font-size: 16px;
  transform: skewX(-12deg);

  &__shape {
    width: 120px;
    height: 120px;
    float: left;
    background-color: orangered;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-30px) skewX(12deg);
    position: relative;
  }

  &__img {
    height: 100%;
    transform: scale(1.4);
    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
  }

  &:hover &__img {
    transform: scale(1);
    filter: blur(3px) brightness(80%);
  }
}
