.section-about {
  background-color: $color-grey-light-1;
  padding: 250px 0;
  margin-top: -20vh;
}

.section-features {
  padding: 200px 0;
  background-image: linear-gradient(
      to right bottom,
      /* rgba(126, 213, 111, 0.8), */ rgba(221, 160, 252, 0.8),
      rgba(13, 14, 13, 0.8)
    ),
    url(../img/ZEN.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -100px;

  transform: skewY(
    -7deg
  ); /* this is to skew/change direction of the div & place it from from lower to hight angle */

  & > * {
    transform: skewY(
      7deg
    ); /* this is to place  the cards evenly in oe direction */
  }
}

.section-tours {
  background-color: #f7f7f7;
  padding: 250px 0 150px 0;
  margin-top: -100px;
}

.section-stories {
  position: relative;
  padding: 30px 0;
}

.section-booking {
  padding: 30px 0;
  background-image: linear-gradient(to right bottom, rgba(221, 160, 252, 0.8), rgba(13, 14, 13, 0.8)),
}

.book {
  background-image: linear-gradient(105deg, rgba(#ffffff, 0.9) 0%, rgba(#ffffff, 0.9) 50%, transparent 50%),
    url(../../img/zenlashidole7.png);
  background-size: cover;
  height: 500px;
  border-radius: 3px;
  box-shadow: 0 15px 14px rgba(#3b2d2d, 0.2);

  &__form {
    width: 50%;
    padding: 16px;
  }

}
.form__group:not(:last-child) {
  margin-bottom: 20px;
}
.form__input {
  font-size: 15px;
  font-family: inherit;
  color: inherit;
  padding: 15px 20px;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #89069b;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  font-size: 12px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 17px;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}

.form__radio-input {
  display: none;
}
.form__radio-label {
  font-size: 16px;
  cursor: pointer;
  position: relative;
  padding-left: 45px;
}
.form__radio-button {
  height: 30px;
  width: 30px;
  border: 5px solid #ac569d;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -14px;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #8a378d;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}